
.DS_Store
*.RData
*.html
*md
*.pdf
/q00_MGCV_Analysis_cache/
/q00_MGCV_Analysis_files/
/q01_MGCV_PrelimCalcs_cache/
/q01_MGCV_PrelimCalcs_files/
/q02_MGCV_Analysis_cache/
/q02_MGCV_Analysis_files/
/figures/
/tables/


