.DS_Store
*.RData
*.html
*.pdf
/q01_EmpiricalSelectivityResults_cache/
/q01_EmpiricalSelectivityResults_files/
/figures/
/tables/
q01_SurveyLevelSelectivityResults_files
q01_SurveyLevelSelectivityResults.html_files
q01_SurveyLevelSelectivityResults.html.md
q01_SurveyLevelSelectivityResults.pdf.md
r_ListForFiguresInfo.csv
r_ListForTablesInfo.csv
zz_old
csv_ListForTablesInfo.csv
csv_ListForFiguresInfo.csv
