.DS_Store
*.RData
*.html
*.pdf
/q02_SedimentAnalyses_cache/
/q02_SedimentAnalyses_files/
/SedimentsAnalysis.gdb/
/figures/
/tables/
q01_SedimentData.pdf.md
q02_SedimentAnalyses.html.md
q02_SedimentAnalyses.pdf.md
r_ListForFiguresInfo.csv
