QTDublinIrish.otf
TechMemo_Outline.docx
q03_Results.html.md
q03_Results.pdf.md
r_ListForFiguresInfo.csv
r_ListForTablesInfo.csv
_extensions
q00_SBS_TannerCrab_cache
q00_SBS_TannerCrab_files
q01_Introduction_cache
q02_Methods_cache
q02_Methods_files
q03_Results_cache
q03_Results_files
